<!DOCTYPE html>
<html>
<head>
    <title>Hello pixi</title>
</head>
<script type="text/javascript" src="../static/pixi.min.js" charset="UTF-8"></script>
<body>
    <script type="text/javascript">
	var myword = "My Game start!--Min";
    var Container = PIXI.Container,
    autoDetectRenderer = PIXI.autoDetectRenderer,
    Text = PIXI.Text;

	//Create a Pixi stage and renderer and add the 
	//renderer.view to the DOM
	var stage = new Container(),
    renderer = autoDetectRenderer(window.innerWidth, window.innerHeight);
	document.body.appendChild(renderer.view);

	var message = new PIXI.Text(
		myword, 
		{font: "40px sans-serif", fill: "white"}
	);

	message.position.set(window.innerWidth/2-(myword.length)*10, window.innerHeight/2);
	stage.addChild(message);

	//Render the stage
	renderer.render(stage);
    </script>
</body>
</html>